
body {
    background-attachment: fixed;
    background-image: url("/img/background.jpg");
    background-size: cover;
}

.navbar-static-top {
    background-color: #252525;
}

.navbar-static-top .navbar-brand {
    color: #b82c38;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: 1px 1px 1px #9C0000;
}

::selection {
    background: #252525;
    text-shadow: none;
}

::-moz-selection {
    background: #252525;
    text-shadow: none;
}

.nav>li>a:hover, nav>li>a:focus, nav>li>.active {
    background-color: #b8434e;
    text-shadow: none;
    color: #252525;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.navbar-nav>li>a:focus {
    background-color: #b8434e;
    background-image: none !important;
    text-shadow: none;
    color: #252525;
}

a {
    color: #b8434e;
}
